@import '../../styles/shared/mixins';



.registry {
  background: #ffff;
  border-radius: 6px;
  margin: 90px 20% auto;
  @include small() {
    margin: 0;

  }

  .title {
    text-align: center;
    padding: 10px 0;
  }

  .body-form {
    border-top: 1px solid;
    padding: 20px 30px;
  }
}
