/* You can add global styles to this file, and also import other style files */
@import "styles/main";

html {
  // font-size: calc(0.500vmin + 0.75rem);
  font-size: small;
}

body {
  background: #f6f6fa;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.ng-pristine .ng-invalid .ng-touched {
  border-radius: 1px solid red;
}
